@font-face {
    src: url(../assets/fonts/Raleway-Italic-VariableFont_wght.ttf);
    font-family: raleway-italic;
}

@font-face {
    src: url(../assets/fonts/Raleway-VariableFont_wght.ttf);
    font-family: raleway;
}

@font-face {
    src: url(../assets/fonts/Vollkorn-Italic-VariableFont_wght.ttf);
    font-family: vollkorn-italic;
}

@font-face {
    src: url(../assets/fonts/Vollkorn-VariableFont_wght.ttf);
    font-family: vollkorn;
}

@font-face {
    src: url(../assets/fonts/Yesteryear-Regular.ttf);
    font-family: yesteryear;
}